@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

$colors: --highlight-color, --primary-background, --secondary-background,
  --light-text, --primary-button, --submit-button, --logout-button,
  --error-color, --warning-color, --warning-text;

html,
body {
  --highlight-color: hsl(240, 71%, 54%);
  --primary-background: hsl(0, 0%, 15%);
  --secondary-background: hsl(0, 0%, 45%);
  --light-text: hsl(0, 0%, 94%);
  --primary-button: hsl(240, 81%, 51%);
  --submit-button: hsl(240, 77%, 48%);
  --logout-button: hsl(0, 80%, 44%);
  --error-color: hsl(0, 81%, 55%);
  --warning-color: hsl(61, 80%, 60%);
  --warning-text: hsl(240, 13%, 45%);
  margin: 0;
  padding: 0;
  font-size: 2vh;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--secondary-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badges {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}

.badge {
  width: 8vw;
  height: 4vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-text);
  padding: 2px;
}

.badgeprimary {
  background-color: var(--primary-button);
}

.badgeerror {
  background-color: var(--error-color);
}

.badgewarning {
  background-color: var(--warning-color);
  color: var(--warning-text);
}

.alerts {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
}

.alert {
  margin: auto;
  width: 25vw;
  height: 6vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  color: var(--light-text);
  filter: opacity(65%);
}

.primalert {
  background-color: var(--primary-button);
}

.erroralert {
  background-color: var(--error-color);
}

.warningalert {
  background-color: var(--warning-color);
  color: var(--warning-text);
}

input {
  height: 3vh;
  width: 10vw;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

textarea {
  width: 10vw;
  height: 6vh;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.forms {
  padding: 0 0 4vh 0;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  font-size: 1.3em;
}

button {
  width: 12vw;
  height: 5vh;
  border-radius: 10px;
  background-color: var(--background-color);
  border: 2px solid var(--background-color);
  color: var(--light-text);
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-text);
  color: var(--background-color);
}

.buttons {
  padding: 0 0 3vh 0;
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
}

.buttons .general {
  --background-color: var(--primary-button);
}

.buttons .submit {
  --background-color: var(--submit-button);
}

.buttons .logout {
  --background-color: var(--logout-button);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.5em;
}

.colors {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  padding: 4vh 0 4vh 0;
}

.colors div {
  width: 20vw;
  height: 20vh;
  border: 1px solid var(--primary-background);
  margin: 1vh 2vw 0 2vw;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.colors div:hover {
  transform: scale(1.1);
  transition: 300ms;
}

.colors .highlight {
  background-color: var(--highlight-color);
}

.colors .primarybg {
  background-color: var(--primary-background);
}

.colors .secondarybg {
  background-color: var(--secondary-background);
}

.colors .lighttext {
  background-color: var(--light-text);
}

.colors .subbutton {
  background-color: var(--submit-button);
}

.colors .errorcolor {
  background-color: var(--error-color);
}

.colors .logoutbutton {
  background-color: var(--logout-button);
}

.colors .primbutton {
  background-color: var(--primary-button);
}

/* navbar */
.navbar {
  padding: 0.5vh 1vw 0.5vh 4vw;
  font-size: 1.5em;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background);
  color: var(--light-text);
  letter-spacing: 1px;
}

.navbar .title {
  font-size: 1.75em;
  font-weight: 900;
}

.navbar > ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 90%;
}

.navbar > ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 6vh;
  border-radius: 10px;
}

.navbar > ul li:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

/* footer */
.footer {
  height: 20vh;
  width: 100vw;
  font-size: 1.2em;
  background-color: var(--primary-background);
  color: var(--light-text);
  position: block;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2vh 0 6vh 0;
}

.footer > ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.footer > ul > li:hover {
  color: var(--highlight-color);
  cursor: pointer;
  transform: scale(1.1);
  transition: 200ms;
}

.footer .title {
  font-size: 1.5em;
}
